{% extends "base.html" %} {% load static %} {% block content %}
<div class="container text-center">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    {% for i in meal %}
    <div class="col">
      <div class="card m-auto" style="width: 18rem">
        <img src="{{i.strCategoryThumb}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{i.idCategory}}. {{i.strCategory}}</h5>
          <p class="card-text">
            {{i.strCategoryDescription | truncatewords:10}}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
